.container {
    border: 5px solid black;
    height: 159px;
    width: 705px;
    margin: 0 auto;
    margin-top: 110px;
    background-color: #EEEEF7;
}

.star {
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px;
    background-image: url('star-bw.png');
    background-repeat: no-repeat;
    background-position: center;
    /*transition: all .5s ease;*/
}

.hover,
.selected {
    background-image: url('star.png');
    background-repeat: no-repeat;
    background-position: center;
}

.count_box {
    margin: 25px auto;
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}